body{
  margin: 0;
}

.start {
  background-color: #1F2937;
}
.header {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  font-size: 24px;
  color: #F9FAF8;
  margin: 0;
  padding: 40px;
}

.header-details {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 600px;
  justify-content: space-between;
  font-size: 36px;
  font-weight: 700;
  color: #333d4a;
}

a  {
  font-size: 30px;
  font-weight: 700;
  color: #e8f1fc;
  text-decoration: none;
}

.header-subsection {
  background-color: #1F2937;
  padding: 60px;
  display: flex;
}

.header-subtext {
  width: 45%;
  display: inline-block;
}
.hero-main-text {
  margin: 0;
  font-size: 48px;
  font-weight: 700;
  color:#F9FAF8;
}

.hero-secondary-text {
  font-size: 18px;
  color: #E5E7EB;
}

.logo {
  height: 360px;
  width: 500px;
  object-fit: cover;
  margin-left: 60px;
}

.img-logo {
  width: 100%;
  height: 100%;
}

.signup-button {
  background-color: rgb(15, 109, 167);
  color: white;
  padding: 4px 18px;
  border: 0;
  border-radius: 8px;
}

.courses-title {
  color: #1F2937;
  font-size: 36px;
  font-weight: 700;
  text-align: center;
}

.Courses-offered {
  display: flex;
  padding: 0 120px;
  justify-content: space-between;
}

.courses {
  display: flex;
  column-gap: 20px;
}

.img-course {
  height: 180px;
  width: 250px;
  flex: 1;
}

.courses {
  position: relative;
}

.img-sub {
  position: absolute;
  bottom: 1px;
  left: 0;
  right: 0;
  color: rgb(207, 160, 160);
  background-color: rgba(0,0,0,0.6);
  padding: 20px;
  margin: 0;
}

.quote {
  background-color: #E5E7EB;
  color: #1F2937;
  font-style: italic;
  font-size: 36px;
  padding: 90px;
  margin-top: 20px;
}

h2 {
  float: right;
  margin: 0;
}

.end {
  margin: 160px;
  background-color: rgb(20, 123, 227);
  color: #E5E7EB;
  padding: 20px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-radius: 8px;
}

.end-wording {
  width: 60%;
}

.action {
  font-size: 24px;
  font-weight: 700;
  margin: 2px;
}

.action2 {
  font-size: 18px;
  margin-top: 0;
}

.end button {
  border: 2px solid rgb(244, 241, 241);
  background-color: rgb(20, 123, 227);
  padding: 5px 18px;
  color: #E5E7EB;
  border-radius: 8px;
}

footer {
  background-color: #1F2937;
}

.footer-container {
  width: 100%;
  padding: 10px 10px;
}

.soxials-container {
  display: flex;
  justify-content: center;
}

.soxials-container a {
  text-decoration: none;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
}

.more-details {
  margin: 20px 0;
}

.more-details ul {
  display: flex;
  justify-content: center;
}

.more-details ul li a {
  color: #E5E7EB;
  margin: 20px;
  text-decoration: none;
  font-size: 20px;
  opacity: 0.7;
  transition: 0.5s;
}

.more-details ul li a:hover {
  opacity: 1;
}

.footerBottom {
  color: #E5E7EB;
  text-align: center;
  padding: 20px;
}